@import './global.scss';

.container {
    background-color: #ac8968;
    display: flex;
    flex-direction: column;
    gap: var(--double);
    align-items: center;
    min-height: 100vh;
    padding-block: var(--double);
    
    .heading {

        h1 {
            color: #3e362f;
            font-size: var(--double);
        }
    }

    .question {
        width: 90%;
        border-block: var(--half-two) solid #865d36;
        padding-block: var(--double);

        h2 {

            span {
                color: white;
                font-size: var(--full-half);

                a:hover {
                    color: purple;
                }
            }

            span:first-child {
                color: black;
                margin-inline-end: var(--full);
            }
        }
    }

    .answer {
        width: 90%;

        h2 {
            font-size: var(--full-half);
            color: black;
        }
    }
}